
.custom-search {
    min-height: 49px;
}
.banner-search {
   float:right;
   display: block;
}
.content {
	top:60px;
  padding-top:    1rem;
}

#banner-index {
height: 60px;
}
.sidebar
{
	top:60px;
}