.custom-search {
	min-height: 49px;
}
@media (min-width: 800px) {
	.banner-image {
		height: 55px;
		width: 183.333px;
		line-height: 55px;
		margin-top: 5px;
		padding-left: 20px;
	}
	.banner-search {
		right: 0px;
		width: 512px;
		position: fixed;
		top: 0px;
	}
	.content {
		top: 0px;
		padding-top: 190px;
	}
	.options-bar
	{
		width: 100%;
		padding: 0px;
		background: silver;
	}
}
#banner-index {
	width: 100%;
	padding: 0px;
	top: 0px;
	margin-top: 0px;
	position: fixed;
	padding-left: 20px;
	height: 90px;
	background-color: #135d9c;
	z-index: 1;
	box-shader: 0 1px 3px rgba(0, 0, 0, 0.12);
}
.sidebar {
	top: 90px;
	overflow-y: scroll;
}
code, pre code {
	font-size: 12px;
}
h3 {
	border-bottom: 2px #eee solid;
}
