
/*RESET*/
header html, header body, header div, header span, header applet, header object, header iframe, header h1, header h2, header h3, header h4, header h5, header h6, header p, header blockquote, header pre, header a, header abbr, header acronym, header address, header big, header cite, header code, header del, header dfn, header em, header font, header img, header ins, header kbd, header q, header s, header samp, header small, header strike, header strong, header sub, header sup, header tt, header var, header b, header u, header i, header center, header dl, header dt, header dd, header ol, header ul, header li, header fieldset, header form, header label, header legend, header table, header caption, header tbody, header tfoot, header thead, header tr, header th, header td {
    margin:0;
     padding:0;
     border:0;
     outline:0;
     font-size:100%;
     vertical-align:baseline;
     background:transparent;
}
header body {
    line-height: 1;
}
header ol, header ul{
    list-style:none;
}
header blockquote, q{
    quotes:none;
}
header blockquote:before, blockquote:after, q:before, q:after{
    content:'';
    content:none;
}
header :focus{
    outline:0;
}
header  ins{
    text-decoration:none;
}
header  del{
    text-decoration:line-through;
}
header  table{
    border-collapse:collapse;
     border-spacing:0;
}
/*MAIN*/
header  body {
     font-size: 1.05em;
     line-height: 1.25em;
     font-family: Helvetica Neue, Helvetica, Arial;
     background: #f9f9f9;
     color: #555;
}
header  a {
     color: #ffffff;
     text-decoration: none;
     font-weight: bold;
}
header  a:hover {
     color: #444;
}
header {
     background: #135d9c;
     width: 100%;
     height: 90px;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 100;
}
header #logo{
     margin: 20px;
     float: left;
     width: 200px;
     height: 40px;
     background: url(../img/logo.png) no-repeat center;
     display: block;
}
header nav {
    float: right;
    padding: 29px 0px 0px 0px;
}
header #menu-icon {
    width: 80px;
    height: 55px;
    background: #135d9c;
}
header a:hover#menu-icon {
     background-color: #444;
     border-radius: 4px 4px 0 0;
}
header .navtext ul {
     list-style: none;
}
header .navtext li {
     display: inline-block;
     float: left;
}
header .current {
     color: #2262AD;
}
header section {
     margin: 80px auto 40px;
     max-width: 980px;
     position: relative;
     padding: 20px 
}
header h1 {
     font-size: 2em;
     color: #2262AD;
     line-height: 1.15em;
     margin: 20px 0 ;
}
header p {
     line-height: 1.45em;
     margin-bottom: 20px;
}

header img.simullogo {
    width: 165px;
    padding: 14px 0px 0px 10px;
    float: left;
}
header .navcontainer {
 		max-width: 1366px;
 		margin: auto;
}
header .navtext a {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 36px 10px;
    font-weight: 700;
}
header .navtext li :hover {
    background-color: #2196F3;
}
header a.active {
    background-color: #2196F3;
}

 @media only screen and (min-width : 740px) {
header .menu-icon {
	display: none;
}
header i.fa.fa-bars {
    display: none;
}
}

/*MEDIA QUERY*/
 @media only screen and (max-width : 740px) {
     header {
         position: absolute;
    }
     #menu-icon {
         display:inline-block;
    }
     nav ul, nav:active ul {
    display: none;
    position: absolute;
    padding: 0px;
    background: #3368b1;
    border: 0;
    right: 0px;
    width: 100%;
    top: 90px;
    border-radius: 0;
}
header nav li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;
}
header nav:hover ul {
         display: block;
    }
header .navtext a {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 0;
    font-weight: 700;
}
header .navtext li:hover {
    background-color: #4c81cb;
}
header i.fa.fa-bars {
    float: right;
    padding: 36px 18px;
}
header nav {
    float: right;
    padding: 0;
}
header #menu-icon {
    width: 80px;
    height: 90px;
    background: #135d9c00;
}
header a:hover#menu-icon {
    background-color: #4440;
    border-radius: 4px 4px 0 0;
}
header a.active {
	background-color: #2196f300;
}
}