
html {
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

.custom-search {
    min-height: 49px;
}

@media (min-width: 800px)
{
	.banner-image
	{
		 height: 55px;
		 width: 183.333px;
		 line-height: 55px;
		 margin-top: 5px;
		padding-left:20px;
	}

	.banner-search {
	     right: 0px;
	    width: 512px;
	    position: fixed;
	    top: 0px;
	}

	.content {
		top:60px;
	  padding-top:    2rem;
	}
}

#banner-index {
	width: 100%;
	padding:0px;
	top:0px;
	margin-top: 0px;
	position: fixed;
	padding-left: 20px;
	height: 60px;
	background-color: white;
	z-index: 1;
	box-shader: 0 1px 3px rgba(0, 0, 0, 0.12);
}

.sidebar
{
	top:60px;
}

code, pre code {
  font-size: 16px;
  font-family: "Roboto Mono","Courier New", monospace;
}