

        <section id="banner-index">
        <div class="custom-search">
        <script>
  (function() {
    var cx = '003521981572906170502:vetqant-45u';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>

<gcse:searchbox-only resultsUrl="/search-results.html"></gcse:searchbox-only>
        </div>

        </section>