<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">

S {{ page.url }} <br>
      <ul>
      {% assign sorted_pages = site.pages | sort: "url" %}

      page url is {{ page.url }}

      {% assign this_path = "" %}

      {% assign paths = site.array %}
      {% assign titles = site.array %}

      {% for node in sorted_pages %}
        {% assign path = node.url | remove: "/index.html" %}
        {% assign path = path | remove: ".html" %}
        {% assign path = path | replace: "_1_1","/" %}
        {% assign path = path | remove_first: "/" %}
        {% assign psz = path | size %}
        {% assign paths = paths | push: path %}
        {% assign title = node.title %}
        {% assign titles = titles | push: title %}
        {% if node.url == page.url %}
          {% assign this_node = node %}
          {% assign this_index = forloop.index0 %}
        {% endif %}
      {% endfor %}

      {% assign menu_level = 0 %}

      {% for node in sorted_pages %}
        {% assign node_path = paths[forloop.index0] %}
        {% assign node_path_parts = node_path | split: '/' %}
        {% assign node_path_parts_size = node_url_parts | size %}
        {{ node_path }} {{ node_path_parts_size }}
      {% endfor %}
      </ul>

    </nav>
    <p>&copy; {{ site.time | date: '%Y' }} Simul Software Ltd. All rights reserved.</p>
  </div>
</div>
