<div class="custom-search">
<script>
(function() {
    var cx = '003521981572906170502:vetqant-45u';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
})();
</script>
<link rel="stylesheet" href="{{ site.baseurl }}public/css/search.css">
<form method="get" id="search" action="https://duckduckgo.com/">
  <input type="hidden" name="sites" value="simul.co"/>
  <input type="hidden" name="k8" value="#444444"/>
  <input type="hidden" name="k9" value="#D51920"/>
  <input type="hidden" name="kt" value="h"/>
  <input type="text" name="q" maxlength="255" placeholder="Search&hellip;"/>
  <input type="submit" value="DuckDuckGo Search" style="visibility: hidden;" />
</form>
</div>