<div class="sidebar">
	<div class="container sidebar-sticky">
		<div class="sidebar-about">
			<h2>
				<a href="/">
		  {{ site.title }}
		</a>
			</h2>
			<p class="lead">{{ site.description }}</p>
		</div>
		<nav class="sidebar-nav">

			{% comment %} The code below dynamically generates a sidebar nav of pages with `layout: page` in the front-matter. See readme for usage. {% endcomment %}
			{% assign url_parts = page.url | split: '/' %}
			{% assign url_parts_size = url_parts | size %}
			{% if url_parts_size != 0 %}
				{% assign rm = url_parts | last %}
				{% assign base_url = page.url | replace: rm %}
			{% else %}
				{% assign base_url = page.url %}
			{% endif %}
			<ul>
				{% assign sorted_pages = site.pages | sort:"weight" %}
				{% for node in sorted_pages %}
    				{% assign node_url = node.url | remove: "/index.html" %}
    				{% assign node_url_parts = node_url | split: '/' %}
    				{% assign node_url_parts_size = node_url_parts | size %}
    				{% assign filename = node_url_parts | last %}
    				{% if node_url_parts_size == 2 and filename != "404.html" and node.layout != "nonav" %}
        				<li>
        					<a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a></li>
        				{% if page.url contains node_url %}
            				{% assign level2 = site.array %}
            				{% for node2 in site.pages %}
            					{% if node2.url contains node_url and node2.url != node_url %}
            						{% assign level2 = level2 | push: node2 %}
            					{% endif %}
            				{% endfor %}
            				{% if level2.size > 0 %}
            					<ul>
            						{%for m2 in level2 %}
            						  <li><a href='{{m2.url}}'>{{m2.title}}</a></li>
            						{% endfor %}
            					</ul>
            				{% endif%}
        				{% endif %}
    				{% endif %}
				{% endfor %}
			</ul>

		</nav>

		<p>&copy; {{ site.time | date: '%Y' }} Simul Software Ltd. All rights reserved.</p>
	</div>
</div>